.first_content {
    border: 0 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }

  .first_content .row_first
  {
    height: 600px;
    width: 2500px;
    background-image:url(architect.jpg) ;
    background-size: cover;
    background-position:center;
  }
  .first {
    width: 400px;
  }
  
  .first_content .row_first {
    border: 0 solid;
    text-align: center;
  }
  
  .first_content .row_first h3 {
    color: rgb(15, 14, 14);
    font-size: 3rem;
    padding-top: 14rem;
  }

  /*projects*/

  .heading {
    text-align: left;
    padding: 5rem 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: 2rem;
    color: rgb(0, 11, 5);
  }
/*projects*/
  .projects .projects-1 {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.2rem;
    text-align: left;
  }

  .projects .projects-1 h2
  {
    border: 1 solid;
    font-size: 1.25rem;
    background-color: rgb(7, 7, 6);
    color: rgb(18, 18, 19);

  }

  .projects .projects-1 h2
{
  height: 250px;
  width: 350px;
  background-image:url(house5.jpg) ;
  background-size: cover;
  background-position:left;
}

.projects .projects-1 h3
{
  border: 1 solid;
  font-size: 1.25rem;
  background-color: rgb(7, 7, 6);
  color: rgb(21, 22, 22);

}

.projects .projects-1 h3
{
height: 250px;
width: 350px;
background-image:url(house2.jpg) ;
background-size: cover;
background-position:left;
}

.projects .projects-1 h4
{
  border: 1 solid;
  font-size: 1.25rem;
  background-color: rgb(7, 7, 6);
  color: rgb(21, 22, 22);

}

.projects .projects-1 h4
{
height: 250px;
width: 350px;
background-image:url(house3.jpg) ;
background-size: cover;
background-position:left;
}
.projects .projects-1 h5
{
  border: 1 solid;
  font-size: 1.25rem;
  background-color: rgb(7, 7, 6);
  color: rgb(21, 22, 22);

}

.projects .projects-1 h5
{
height: 250px;
width: 350px;
background-image:url(house4.jpg) ;
background-size: cover;
background-position:left;
}
  /*projects */

  /*About */

  .hemmi {
    text-align: left;
    padding: 5rem 0;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: 2rem;
    color: rgb(0, 11, 5);
  }
  .About h3
  {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

   .About-1 {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.2rem;
    text-align: left;
    padding-top: 1rem;
  }
  .About-2 h4
  {
    padding-top: 1rem;
  }
  .About-2 h5
  {
   padding-top: 1rem;
   color: rgb(99, 93, 93);
   font-size: 1rem;
  }
  .About-2 p
  {
    padding-top: 1rem;
    color: rgb(24, 23, 23);
    font-size: 1.25rem;
  }
  .About-2 a
  {
    border: 0rem solid;
    text-align: center;
    font-size: 1.15rem;
    color: black;
    padding-left: 9rem;
    padding-right: 9rem;
    background-color: rgb(231, 221, 221);

  }

  /*About */
/*contact*/
.hemma {
    text-align: left;
    padding: 5rem 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 2rem;
    color: rgb(0, 11, 5);
  }
  .contact-1 h2
  {

font-size: 1rem;
padding-bottom: 1rem;
  }

.contact-2 input
{
    width: 90rem;
    font-size: 1rem;
}
.contact-1 a
{
    font-size: 1rem;
    color: aliceblue;
    background-color: black;
}
  /*contact*/